*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    background-color:#ebf2ff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width:100%
}
.primary__button {
    background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%, #ff512f 100% );
    color:bisque;
    border: none;
    padding:10px;
    border-radius: 6px;
    font-weight:600;
}
.primary__button:hover {
    border: 4px solid midnightblue;
    cursor: pointer;

}
.container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    
}
.hero__img__container{
    width: 100%;
}
.hero__image{
    width:100%;
    border-radius: 8px;
    /* background-image: url("assets/svg/herobgpattren.svg") position:absolute;bottom:0; right:0; */
    box-shadow:0 25px 50px -12px rgba(0 0 0 / 25%);
    
}
.hero__text{
    font-weight:800;
    font-size: 30px;
    margin: 15px 0;
    color:#1d3557;
}

.explore__menu__container{
    padding-top:20px;
}

.food__card{
    background-color:#F9F9F9;
}

.food__image {
    width:100%;
    border-radius: 7px 7px 0 0;
}

.food__card__description{
    padding:15px;  
}

.food__card__image__container{
    width: 100%;
}
.explore__menu__text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color:#1d3557;
    font-weight: 800;
}
#pizza{
    margin-top: -20px;
    margin-bottom: 20px;
}

@media (min-width:768px){

    .explore__menu__lists{
        display:flex;
        margin-top:45px;
        gap:15px;
        padding: 0 30px;
    }
    .explore__menu__container{ 
        position: relative;
    }
    .explore__gradient__bgn{
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%); 
        z-index: -3;
        transform:skewY(-5deg);
        margin-top: 60px;
    }

    .navbar{
        justify-content: space-between;
        padding: 20px;
    }
    .hero__container {
        margin-top: 20px;
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
    } 
}
@media (min-width:1024px){
    .explore__menu__text{
        font-size: 48px;
    }
    
    .explore__menu__lists{
        gap: 25px;
    }
    .container{
        max-width: 60%;
    }
    .navbar__brand{
        width:120px;
    }
    .navbar__item{
        font-size: 20px;
    }
    .primary__button{
        padding: 20px;
        font-size: 20px;
    } 
    .hero__description{
        width:100%
    }
    .hero__text{
        font-size: 50px;
    }
}